In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('seattle-weather.csv')
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [5]:
# missing values check
print(data.isnull().sum())

data.describe()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [6]:
# Convert the 'date' column to datetime format
data['date'] = pd.to_datetime(data['date'])

# Handle categorical variables: 'weather'
data = pd.get_dummies(data, columns=['weather'], drop_first=True)

In [7]:
print(data.isnull().sum())
# Fill missing values if any
#data.fillna(method='ffill', inplace=True)

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather_fog      0
weather_rain     0
weather_snow     0
weather_sun      0
dtype: int64

In [8]:
# Extract features from the date
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day
data.drop('date', axis=1, inplace=True)

# Define features and target variable
X = data.drop('precipitation', axis=1)
y = data['precipitation']

X.head()

,temp_max,temp_min,wind,weather_fog,weather_rain,weather_snow,weather_sun,year,month,day
0,12.8,5.0,4.7,0,0,0,0,2012,1,1
1,10.6,2.8,4.5,0,1,0,0,2012,1,2
2,11.7,7.2,2.3,0,1,0,0,2012,1,3
3,12.2,5.6,4.7,0,1,0,0,2012,1,4
4,8.9,2.8,6.1,0,1,0,0,2012,1,5